#title{
  background-color: #ff4c68;
  color: #fff;

}
h1{
  line-height: 1.5;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.container{
  padding: 3% 10% 0 10%;

}
body{
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Button */
.download-button{
  margin: 10% 5% 0 0;
}
.iphone6-img{
  width:60%;
  transform :rotate(25deg);
  position: relative;
  z-index: 0;
  top:145px;
  right:-50px;
}
.intro-txt{
  padding-top: 80px;
  padding-bottom: 20px;
}

 #features{
   padding: 10% 12% 3% 12%;
   background-color: #fff;
   position: relative;
   z-index: 1;

 }
 .fontawsm{
   text-align: center;
   padding-bottom: 10%;

 }
 .imgsawsm{
   color: #ef8172;
   padding-bottom: 5%;
 }
 .imgsawsm:hover{
   color:#ff4c68;
 }
 h3{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 1.5rem;
 }
 .parafeat{
   color: #8f8f8f;
   width:50%;
   margin:auto;
 }

 #testimonials{

   text-align: center;
   background-color: #ef8172;
   color: #fff;
 }
 .testimonial-text{

   padding: 6% 19% 0 19%;
 }
.testimonial-image{
  width:6%;
  border-radius: 100%;
  margin: 20px;

}

#press{
  background-color: #ef8172;
  text-align: center;
  padding: 8% 0 5% 0;
}
.press-icon{
  width: 13%;
  margin: 20px 20px 50px;
}
#pricing{
  text-align: center;
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 991px) {
  #title{
    text-align: center;
  }
  .iphone6-img {
    position: static;
    transform: rotate(0);
    width: 70%;
    padding-top: 11%;
    margin-bottom: 30px;

  }

}
@media (max-width: 1199px)and (min-width: 992px){
.iphone6-img{
  padding-top: 40%;
  width: 80%;

}
}
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 24% 7%;
}
.footer-note{
  font-family: 'Montserrat', sans-serif;
  font-family: 900;
  height: 1.5;
  color: #fff;
  font-size: 3.5rem;
}
.footerbutton{
  margin-right: 30px;
}

#footer{
  text-align: center;
  background-color: #fff;
  padding-top: 7%;
  padding-bottom: 7%;


}
.foop{
  color: gray;
  font-weight: 500;
  font-size: 1.1rem;

}
.brndimgs{
  padding: 0 9px 25px;
}
